<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.title %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
  <div>
    <script src="https://paybutton.cash/pre-release/v0.1/js/paybutton.min.js"></script>
    <button
      class="pay-button"
      button-text="Liked this?"
      button-text-2="Tip €0.50"
      amount="0.5"
      amount-type="eur"
      address="bitcoincash:qz6tuqwe2xz3rvp9h8zlpjg86x4xmy4u5v48ue2k96"
      success-msg="Thank you!"
    ></button>
  </div>
</article>
<%- partial('_partial/comments') %>
